<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      ◯◯クリニック
    </h2>
    <p class='service-explain'>
      
    </p>
    <p class='service-explain'>
    
    </p>
  </div>
  <%# /画面上部の帯部分  %>

  <%# クリニック説明部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'></span>
          
        </h3>
        <p class='reason-list-description'>
          
        </p>
      </li>
      <li class='list'>
        
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'></span>
          
        </h3>
        <p class='reason-list-description'>
          
        </p>
      </li>
      <li class='list'>
        
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
         
          <span class='reason-list-blue-text'></span>
        </h3>
        <p class='reason-list-description'>
          
        </p>
      </li>
    </ul>
  </div>
  <%# クリニック説明部分 %>

  <%# メイン %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      
    </h2>
    <p class='ad-explain'>
      
    </p>
    <p class='ad-explain'>
      ！
    </p>
    <p class='ad-explain'>
      。
    </p>
    
  </div>
  <%# メイン %>

  <%# 詳細 %>
  <div class='feature-contents'>
    <h2 class='title'>
      古川耳鼻咽喉科
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        
        <h3 class='feature-list-text'>
          
        </h3>
        <p class='feature-list-description'>
          
        </p>
      </li>
      <li class='list'>
        
        <h3 class='feature-list-text'>
          
        </h3>
        <p class='feature-list-description'>
          
        </p>
      </li>
      <li class='list'>
        
        <h3 class='feature-list-text'>
          
        </h3>
        <p class='feature-list-description'>
          
        </p>
      </li>
    </ul>
  </div> 
</div>
<%= render "shared/footer" %>